<a href="https://colab.research.google.com/github/ma2070-spec/Outamation_AI_Externship/blob/main/Handeling_Nested_JSON_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import json

# Corrected sample nested JSON string
json_str = '''
{
    "customer": "Alice",
    "email": "alice@example.com",
    "orders": [
        {
            "order_id": 1,
            "total": 250.50,
            "items": ["Laptop", "Mouse"]
        },
        {
            "order_id": 2,
            "total": 180.75,
            "items": ["Headphones"]
        }
    ]
}
'''

# Convert JSON string to Python dictionary
data = json.loads(json_str)

# Access nested data
second_order = data["orders"][1]
print("Order ID:", second_order["order_id"])  # 2
print("Total:", second_order["total"])        # 180.75
print("Items:", second_order["items"])        # ["Headphones"]

Order ID: 2
Total: 180.75
Items: ['Headphones']

In [10]:
import pandas as pd

# Ectract order data
orders = data["orders"]

# Convert to DataFrame
df = pd.DataFrame(orders)

# Display DataFrame
print(df)

   order_id   total            items
0         1  250.50  [Laptop, Mouse]
1         2  180.75     [Headphones]

In [13]:
import pandas as pd
import json

# Sample JSON string
json_data = '''
[
    {"order_id": 1, "total": 250.50, "items": ["Laptop", "Mouse"]},
    {"order_id": 2, "total": 180.75, "items": ["Headphones"]}
]
'''

# Convert string to Python list of dicts
orders = json.loads(json_data)

# Load into DataFrame
df = pd.DataFrame(orders)

# View the DataFrame
print(df.head())

   order_id   total            items
0         1  250.50  [Laptop, Mouse]
1         2  180.75     [Headphones]

In [15]:
from pandas import json_normalize


# Normalize JSON to extract 'orders' into a structured format
df_orders = json_normalize(data, record_path=['orders'])

print(df_orders)

   order_id   total            items
0         1  250.50  [Laptop, Mouse]
1         2  180.75     [Headphones]

In [19]:
# Convert DataFrame back to JSON
df.to_json("processed_orders.json", orient="records", indent=4)